.url-body-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.form-data{
    margin-left: 20%;
    margin-top: 2.5%;
}
.div-info-para{
    margin-left: 35%;
    font-size: xx-large;
    height: auto;
}

.div-submit-url{
    display: flex;
    margin-top: 2%;
}

.div-input-url{
    margin-left: 25%;
    margin-right: 1em;
    margin-top: 0;
}

.div-submit-button{
    margin-top: 0;
}